.cover__link {
    width: 100%;
    height: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(42, 44, 47, .3);
    position: absolute;
    top: 0%;
  }
