@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inter-Regular.woff2?v=3.15") format("woff2"),
       local("Inter-Regular.woff?v=3.15") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: local("Inter-Italic.woff2?v=3.15") format("woff2"),
       local("Inter-Italic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: local("Inter-Black.woff2?v=3.15") format("woff2"),
       local("Inter-Black.woff?v=3.15") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: local("Inter-BlackItalic.woff2?v=3.15") format("woff2"),
       local("Inter-BlackItalic.woff?v=3.15") format("woff");
}

.page {
  font-family: 'Inter', Arial, sans-serif;;
  color: #FFFFFF;
  font-style: normal;
  background-color: #2A2C2F;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  max-width: 1280px;
  margin: 0 auto;
}

