.cover__subtitle {
  margin: 0 auto;
  width: 32%;
  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    width: 360px;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    width: 360px;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .cover__subtitle {
    width: 288px;
    font-size: 14px;
    line-height: 114%;
  }
}
