.cover__title {
  margin: 0 auto 32px;
  width: 100%;
  max-width: 560px;
  color: #ffffff;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  z-index: 2;

}

@media screen and (min-width: 426px) and (max-width: 550px) {
  .cover__title {
    font-size: 50px;
    width: 70%;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    max-width: 288px;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 109%;

  }
}


