.footer__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  list-style: none;
  padding-left: 0;
}

@media screen and (max-width: 765px) {
  .footer__list {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
}
