.footer {
  width: 93%;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 765px) {
  .footer {

    flex-direction: column;
    align-items: flex-start;
  }
}

